@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-dark-blue: #0b0b15;
  --color-medium-blue: #29344d;
  --color-light-blue: #3f5475;
}

body {
  font-family: "Fira Mono";
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.DialogOverlay[data-state="open"],
.DialogContent[data-state="open"] {
  animation: fadeIn 100ms ease-out;
}

.DialogOverlay[data-state="closed"],
.DialogContent[data-state="closed"] {
  animation: fadeOut 100ms ease-in;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

.AccordionContent {
  overflow: hidden;
}
.AccordionContent[data-state="open"] {
  animation: slideDown 150ms ease-out;
}
.AccordionContent[data-state="closed"] {
  animation: slideUp 150ms ease-out;
}

.AccordionChevron {
  transition: transform 150ms;
}
.AccordionTrigger[data-state="open"] > .AccordionChevron {
  transform: rotate(-180deg);
}
